NEXT_PUBLIC_API_URL=https://api-gateway-production-6d82.up.railway.app
NEXT_PUBLIC_WS_URL=wss://api-gateway-production-6d82.up.railway.app
NEXT_PUBLIC_ML_TRAINING_URL=https://ml-traning-service-production.up.railway.app
NEXT_PUBLIC_DATA_COLLECTION_URL=https://data-collectionservice-production.up.railway.app